anyio
asgiref
attrs
black
channels
click
Django
django-cors-headers
djangorestframework
drf-spectacular
flake8
h11
httptools
idna
inflection
jsonschema
mccabe
mypy-extensions
packaging
pathspec
Pillow
platformdirs
pycodestyle
pyflakes
pyrsistent
python-dotenv
pytz
PyYAML
sniffio
sqlparse
tomli
uritemplate
uvicorn
watchfiles
websockets
djangorestframework-simplejwt